.background {
   position: absolute; top: 0; left: 0;
   width: 100%; height: 100%;
   background-image: linear-gradient(to bottom right, rgb(255, 64, 64), rgb(245, 111, 66));
}

.banner {
   text-align: center;
   margin-top: 10%;
   margin-left: 40%;
   margin-right: 40%;
}



.userPassInput {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   border-radius: 25px;
}

.Username {
   padding: 20px 20px;
   margin-top: 5%;
   margin-left: 40%;
   margin-right: 40%;

}
.submit {
   background-color: #ff0000;
   border-radius: 25px;
   color: white;
   padding: 14px 20px;
   width: 100%; 
   margin: auto;
   border: none;
   cursor: pointer;
}

button:hover {
   opacity: 0.8;
}